@import '~antd-mobile/dist/antd-mobile.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.list-discription{
  text-overflow: ellipsis;
  max-height: 70px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-image{
  width:100%;
}
.list-information{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.space-carousel {
  padding-bottom: 12px;
  background: #fff;
  overflow: hidden;
}
.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.confirm__button--primary {
  display: block;
  margin: 3.8vh 0;
  width: 100%;
    color: #fff;
    background-color: #108ee9;
    border: 1PX solid #108ee9;
    border-radius: 5px;

      outline: 0 none;
      -webkit-appearance: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      text-align: center;
      font-size: 18px;
      height: 47px;
      line-height: 47px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      white-space: nowrap;


}
.confirm__button--primary:active{
  background: #0380d2;
  color:(255,255,255,0.3);
}
.confirm__button--disabled {

    color: rgba(255, 255, 255, 0.6);
    opacity: 0.4;
      color: #fff;
      background-color: #108ee9;
      border: 1PX solid #108ee9;
      border-radius: 5px;
        display: block;
        outline: 0 none;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
        font-size: 18px;
        height: 47px;
        line-height: 47px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        white-space: nowrap;

    
    
  

}


.loading-example {
  display: flex;
  justify-content: flex-start;
}
.align {
  display: flex;
  flex-direction: column;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}

.am-navbar{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
 
  background-color: #717176;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  color: #fff;
}
.am-tab-bar{
  margin-top: 45px;
  overflow: hidden;
  height: 93%;
}